<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurevehiclevanna220210228131318.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0d27f2e5-1b98-4016-8521-7ce3e0a1490c/resourcegroups/httptriggervehiclevanna/providers/Microsoft.Web/sites/AzureVehicleVanna220210228131318</ResourceId>
    <UserName>$AzureVehicleVanna220210228131318</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurevehiclevanna220210228131318.scm.azurewebsites.net/</PublishUrl>
    <SCMUrl>https://azurevehiclevanna220210228131318.scm.azurewebsites.net/</SCMUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>